@charset "UTF-8";

html {
    height: 100%;
}

body {
    background-color: #363636;
    height: 100%;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nickname {
    font-family: 'Baloo', cursive;
    font-size: 80px;
    color: #FFFFFF;
}

.fullname {
    font-family: 'Baloo', cursive;
    font-size: 30px;
    color: #FFFFFF;
}
